<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Edit <%= product.title %></title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Edit <%= product.title %></h1>
        </div>
        <div class="row">
            <form action="/products/<%= product.id%>?_method=PUT" method="POST">
                name: <input type="text" name="title" value="<%= product.name %>" required><br>
                description: <input type="text" name="author" value="<%= product.description %>" required><br>
                img: <input name="img" cols="30" rows="10" value="<%= product.img %> "></input>
                price <input name="price" cols="30" rows="10" value="<%= product.price %>"><br>
                <input class="button button-primary"type="submit" value="Edit Product">
        </div>
        </form>
    </div>
</body>

</html>