<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" href="/public/css/styles.css">
    <script defer src="/public/js/script.js"></script>
    <title>Here's your product List</title>
</head>

<body>
    <div class="container">
        <div class="headerItem">
            <h1>Here's your product List</h1>
        </div>
        <div class="navBar">
            <nav>
                <a href="/products/new">Add A New product</a>
            </nav>
        </div>
        <% products.forEach(product => { %>
        <div class="container content">
            <div class="row">
                <ul style="list-style: lower-roman;">
                    <li style="margin-bottom: 1rem;">
                        <a href="/products/<%= product._id %>"><%= product.name %>
                        </a>
                        <div class="itemImg">
                            <img src="<%= product.img %> " alt="items">
                        </div>
            </div>
            <form method="POST" action="/products/<%= product._id %>?_method=DELETE"
                style="display: inline; margin-right: 1rem;">
                <input type="submit" value="DELETE">
            </form>

            <a style="margin: 0 1rem;" href="/products/<%= product._id%>/edit">EDIT</a>
            </li>
            </ul>

        </div>
        <% }); %>
    </div>
</body>

</html>