<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script defer src="/public/js/script.js"></script>
    <title>Here's your product List</title>
</head>

<body>
    <div class="container">
        <div class="headerItem">
            <h1>Here's your product List</h1>
        </div>
        <div class="navBar">
            <nav>
                <a class="button" href="/products/new">Add A New product</a>
            </nav>
            <hr>
        </div>
        <% products.forEach(product => { %>
        <div class="container content">
            <div class="row">

                <a class="button button-primary" href="/products/<%= product._id%>/edit">EDIT</a>

                <div class="section categories">
                    <div class="container">
                        <h3 class="section-heading"><a href="/products/<%= product._id %>"><%= product.name %></a></h3>
                        <div class="row">
                            <div class="one-half column category">
                                <img class="u-max-full-width" src="<%= product.img %> " alt="items">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <form method="POST" action="/products/<%= product._id %>?_method=DELETE">
                <div class="row">
                    <div>
                        <input type="submit" value="DELETE">
                    </div>
                </div>
            </form>

            
        </div>
        <hr>
        <% }); %>
    </div>
</body>

</html>
